API_ID=12345678
API_HASH=your_api_hash
BOT_TOKEN=123456789:your_bot_token
MENU_CONFIG_PATH="config/menu.json"
BOT_NAME="your_telegram_bot_nickname"
PLACES_PATH="institutions.json"
DICTIONARY_PATH="config/dictionary.json"
GIFTS_PATH="gifts.json"